$body-background-color: #171717;
$text-color: #ffffff;
$font-family: 'Gilam', sans-serif;

body {
  background-color: $body-background-color;
  color: $text-color;
  font-family: $font-family;
  width: 1460px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 216px;
    height: 33px;
    margin-top: 46px;
  }

  &__call-back {
    display: flex;
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    margin-top: 46px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &-link {
      font-family: 'Circe', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      color: #E4B564;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.main-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 128px;
}

.company-resume {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 41px;
  margin-bottom: 41px;
}

.section-top {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 161px;

  &__item-1,
  &__item-2,
  &__item-3,
  &__item-4,
  &__item-5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
  }

  &__item-1 {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #634F2C;
    height: 468px;
    width: 467px;
    padding-top: 220px;
  }

  &__item-2 {
    grid-area: 1 / 3 / 2 / 5;
    background-color: #B4A385;
    height: 468px;
    padding-top: 206px;
  }

  &__item-3 {
    grid-area: 1 / 5 / 2 / 7;
    background-color: #E4B564;
    height: 468px;
    padding-top: 220px;
  }

  &__item-4 {
    grid-area: 2 / 1 / 3 / 4;
    background-color: #635A4A;
    height: 468px;
    padding-top: 220px;
  }

  &__item-5 {
    grid-area: 2 / 4 / 3 / 7;
    background-color: #B08C4D;
    height: 468px;
    padding-top: 220px;
  }
}

.section-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 28px;
}

.section-mid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 94px;

  &__item-1,
  &__item-2,
  &__item-3,
  &__item-4,
  &__item-5,
  &__item-6,
  &__item-7 {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding-top: 44px;
  }

  &__item-1 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #242424;
    width: 467px;
    height: 439px;
    padding-left: 51px;
  }

  &__item-2 {
    grid-area: 2 / 2 / 4 / 3;
    background-color: #E4B564;
    width: 467px;
    height: 405px;
    color: #000;
    font-size: 20px;
    padding-left: 52px;
    position: absolute;
    margin-top: 469px;
    margin-left: 498px;
  }

  &__item-3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #1F1F1F;
    width: 467px;
    height: 255px;
    padding-left: 48px;
  }

  &__item-4 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #0E0E0E;
    width: 467px;
    height: 313px;
    padding-left: 48px;
    position: absolute;
    margin-top: 285px;
    margin-left: 995px;
  }

  &__item-5 {
    grid-area: 3 / 3 / 4 / 4;
    background-color: #0A0909;
    width: 467px;
    height: 277px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 48px;
    position: absolute;
    margin-top: 626px;
    margin-left: 995px;
  }

  &__item-6 {
    grid-area: 2 / 1 / 4 / 2;
    background-color: #1F1F1F;
    width: 467px;
    height: 560px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 56px;
    padding-left: 52px;
    position: absolute;
    margin-top: 340px;
  }

  &__item-7 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #0E0E0E;
    width: 467px;
    height: 313px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 52px;
  }
}

.our-clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 363px;
  margin-bottom: 72px;

  &__heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }

  &__all-projects {
    display: flex;
    border: 1px solid #E4B564;
    justify-content: center;
    align-items: center;

    &-link {
      font-family: 'Circe', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      color: #E4B564;
      padding: 10px 40px;
    }
  }

  h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-right: 30px;
  }
}

.section-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 391px);
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin-bottom: 239px;

  &__item-1,
  &__item-6,
  &__item-3,
  &__item-4,
  &__item-5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item-1 img,
  &__item-6 img,
  &__item-3 img,
  &__item-4 img,
  &__item-5 img {
    display: block;
    margin: 0 auto;
  }

  &__item-1,
  &__item-3,
  &__item-6 {
    background: #634F2C;
  }

  &__item-2 {
    background: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__item-4 {
    background: #635A4A;
  }

  &__item-5 {
    background: #B08C4D;
  }

  &__item-1 img,
  &__item-6 img {
    width: 185px;
    height: 49px;
  }

  &__item-3 img,
  &__item-4 img {
    width: 190px;
    height: 42px;
  }

  &__item-5 img {
    width: 119px;
    height: 53px;
  }

  &__item-2 .a1 {
    width: 62px;
    height: 55px;
    margin-left: 14px;
  }

  &__item-2 .a2 {
    width: 139px;
    height: 55px;
  }

  &__item-2 p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 16px;
  }
}
